table {
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
}
table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
}
table th {
  background-color: #f2f2f2;
}
progress {
  width: 300px;
}
details {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}
.tabcontent {
  float: left;
  padding: 0px 10px;
}
.topnav{
  padding: 10px;
  background-color: lightgray;
}
.topnav button {
  width: 100px;
  height: 40px
}